.brand .logo:before{
  border-top: 5px solid #ff01bd;
  border-left: 5px solid #ff01bd;
}
.brand .logo:after{
  border-bottom: 5px solid #ff01bd;
  border-right: 5px solid #ff01bd;
}
body.dark .portfolio .portfolio-filter button.active, body.dark header .navber ul li a.active, body.dark header .navber ul li a:hover, header .navber ul li a.active, header .navber ul li a:hover, .portfolio .portfolio-filter .active,  .contact .contact-info-item .icon, .portfolio .portfolio-item-inner .portfolio-info .icon .fa, .portfolio .portfolio-filter .active, .service .service-item .service-item-inner .icon, button:hover, .about .about-content .about-text h3 span , span.text-type-js-color , body.dark .personal-info.padd-15 p.info ,
.personal-info.padd-15 p.info ,.count-icon i ,.prices-header h2 ,.prices-body h2 , .brand .logo{
  color: #ff01bd;
}
header .navber ul li a.active:before, header .navber ul li a:hover:before, header .navber ul li a:before, .service .service-item .service-item-inner:hover .icon, .progress-in,.section-title h2:before, .section-title h2:after, .btn, .home .intro .social-links a ,.prices-header ,.prices-footer a ,#myBtn{
  background: #ff01bd;
}
body.dark .portfolio .portfolio-filter button.active, .portfolio .portfolio-filter .active ,.home .intro img{
  border-color: #ff01bd;
} 
body.dark .prices-header h2 ,.prices-header h2{
  border: 10px solid #ea40be;
}
