.style-swicther{
  position: fixed;
  top: 70px;
  right: 0;
  background: #ffffff;
  border: 1.5px solid #d4d4e3;
  z-index: 10;
  border-right: none;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  border-radius: 0 0 0 7px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.style-swicther.open{
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.style-swicther h5{
  font-size: 16px;
  color: #302e4d;
  margin-top: 0;
  border-bottom: 1px solid #e8dfec;
}
.style-swicther ul{
  margin: 0;
  padding: 0;
  display: block;
}
.style-swicther ul li{
  display: inline-block;
}
.style-swicther ul li a{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 3px;
  display: block;
  margin-top: 7px;
}
.style-swicther .toggle-style-swicther{
  height: 45px;
  width: 45px;
  position: absolute;
  left: -46.5px;
  top: -1.5px;
  background: #ffffff;
  text-align: center;
  border: 1.5px solid #d4d4e3;
  border-right: none;
  border-radius: 5px 0 0 5px;
}
.style-swicther .toggle-style-swicther .fa{
  font-size: 23px;
  line-height: 44px;
}